.box{
    width: 100px;
    height: 400px;
    background-color: rgb(165, 191, 206);
    border-radius: 20px;
    display: grid;
    row-gap: 15px;
    overflow: hidden;
    grid-template-areas:
    "a"
    "a"
    "a"
    "a";
}
